.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background: #333;
  transition: width 0.3s ease;
  overflow: hidden;
  color: #fff;
}

.sidebar button:not(#diff-button) {
  all: unset;
  cursor: pointer;
  padding: 0px 0px;
  color: #fff;
  display: block;
  text-align: left;
}

.sidebar.collapsed {
  width: 0;
}

.sidebar li:hover {
  background-color: #444;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
  /* background: #fff; */
}

.rectangular-box-grid, .material-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  padding: 5px;
}

.rectangular-box, .material-box {
  width: 200px;
  height: 130px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-size: cover;

  transition: all 0.3s ease;
}

.rectangular-box .title, .material-box .title {
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.rectangular-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangular-item {
  margin-bottom: 10px;
}

.rectangular-item ul {
  padding-left: 20px;
}

.character-list-overlay, .category-list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.category-list-content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.overlay-close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
}

.highlight {
  background-color: green;
  color: white !important
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
