.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Paper {
  height: calc(100vh - 20px); /* Adjust height to fit the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
}

.page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background: #333;
  transition: width 0.3s ease;
  overflow: hidden;
  color: #fff;
}

.sidebar button {
  all: unset;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
  display: block;
  text-align: left;
}

.sidebar.collapsed {
  width: 0;
}

.sidebar li:hover {
  background-color: #444; /* Change background color on hover */
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  /* background: #fff; */
}

.rectangular-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.rectangular-box {
  width: 300px;
  height: 150px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center -70px;
  transition: all 0.3s ease;
}

.rectangular-box .title {
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
}

.rectangular-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay for item details */
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangular-item {
  margin-bottom: 10px;
}

.rectangular-item ul {
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
